<section id="banner">
    <div class="g-w">
        <div class="g-p">
            <div class="g-g">
                <div class="g-u-1 g-u-lg-1-2">
                    <h1>Welcome!</h1>
                    <p>The goal of our clinic is to provide the best medical care. For comprehensive health at all times, it is also necessary to maintain a healthy lifestyle.</p>
                    <a class="btn red bold big" href="./doctors.html">Our doctors and opening hours</a>
                </div>
                <div class="g-u-1 g-u-lg-1-2">
                </div>
            </div>
        </div>
    </div>
</section>
