@using Workshop.Feature.PageContent
@using Workshop.Foundation.SitecoreExtensions.Extensions

@model Sitecore.Mvc.Presentation.RenderingModel


<header>
    <div class="g-w">
        <div class="g-p">
            <div class="g-g">
                <div class="g-u-1 g-u-lg-2-5">
                    @Html.Sitecore().BeginField(Templates.Header.Fields.CTAString, Model.Item, new { haschildren = true, @class = "logo" })

                        @Html.Sitecore().Field(Templates.Header.Fields.CTATextString)

                    @Html.Sitecore().EndField()
                    <span class="menu btn">Menu</span>
                </div>

                @Html.Sitecore().Placeholder("navigation")
            </div>
        </div>
    </div>
</header>
