<header>
    <div class="g-w">
        <div class="g-p">
            <div class="g-g">
                <div class="g-u-1 g-u-lg-2-5">
                    <a href="./index.html" class="logo">
                        MEDIO clinic
                    </a>
                    <span class="menu btn">Menu</span>
                </div>

                @Html.Sitecore().Placeholder("navigation")
            </div>
        </div>
    </div>
</header>
