<div class="g-g">
    <div class="g-u-1 g-u-lg-1-2">
        @Html.Sitecore().Placeholder("col-1")
    </div>
    <div class="g-u-1 g-u-lg-1-2">
        @Html.Sitecore().Placeholder("col-2")
    </div>
</div>
