<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Navigation.Serialization" description="Navigation Content">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Navigation\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Navigation" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/Navigation" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
