<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Workshop.Serialization" description="Workshop content stuff" dependencies="Foundation.*,Feature.*">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\Workshop\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/Project/Workshop" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Project" />
            <include name="Datasources" database="master" path="/sitecore/content/Data Sources" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
