<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>

      <register serviceType="Workshop.Feature.Search.Repositories.ISearchRepository, Workshop.Feature.Search"
            implementationType="Workshop.Feature.Search.Repositories.SearchRepository, Workshop.Feature.Search"/>

    </services>
  </sitecore>
</configuration>
