<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Serialize all the base stuff">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Serialization\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate>
            
            <include name="Base" database="master" path="/sitecore/templates/Foundation/Base" />
            <include name="Datasources" database="master" path="/sitecore/templates/Foundation/Datasources" />
           
          </predicate>

         
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
