<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Doctor.Serialization" description="Doctors Content" dependencies="Foundation.*">>
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Doctors\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Doctors" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Doctors" />
            <include name="Images" database="master" path="/sitecore/media library/SUGLATAM/Doctors" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
