
@using Workshop.Feature.Navigation.Models

@model List<NavigationModel>


<div class="g-u-1 g-u-lg-3-5" id="menu">
    <nav>
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="@item.Url">@item.Text</a></li>
            }
        </ul>
    </nav>
</div>